*{box-sizing: border-box}

.container{
  padding: 15px;
}

input[type=text], input[type=password]{
  width:100%;
  padding: 15px;
  margin: 5px 0 20px 0;
  display: inline-block;
  border: none;
  background: whitesmoke;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: antiquewhite;
  outline: none;
}


#country
{
  width: 100%;
  padding: 14px;
  margin: 5px 0 20px 0;
  display: inline-block;
  border: none;
  background: whitesmoke;

}


.registrationbtn
{
  background-color: wheat;
  color: white;
  padding: 15px 20px;
  margin: auto;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}


.registrationbtn:hover{
  opacity: 1;
}
